</head>
<body>



	<div class='top-search-wrap' style="background-image:url('__PUBLIC__/Images/logo.gif')">
		<div class='top-search' >
			<div class='search-wrap'>
				<form action="{:U(MODULE_NAME.'/Search/search')}" method='get'>
					<input type="text" name='keyword' class='search-content'/>
					<input type="submit" name='search' value='搜索'/>
				</form>
			</div>
		</div>
	</div>


	<div class='top-nav-wrap'>
		<ul class='nav-lv1'>
			<li class='nav-lv1-li'>
				<a href="/blog/" class='top-cate'>首页</a>
			</li>
			
			<foreach name="nav_cate" item="v">
			<li class='nav-lv1-li'>
				<a href="{:U('/list-'.$v['id'])}" class='top-cate'>{$v.name}</a>
				<if condition="$v['child']">
				<ul>
					<foreach name="v.child" item="val">
					<li><a href="{:U('/list-'.$val['id'])}">{$val.name}</a></li>
					</foreach>
				</ul>
				</if>
			</li>
			</foreach>
		</ul>
	</div>
